*.txt
dist/
node_modules/

/__exported/**
/__imported/**

# Jerakine
!/__imported/scripts/
!/__imported/scripts/com/
!/__imported/scripts/com/ankamagames/
!/__imported/scripts/com/ankamagames/jerakine/
!/__imported/scripts/com/ankamagames/jerakine/**